<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="left-section">
        <a href="/" class="cs-logo" aria-label="back to home" tabindex="2">
            <img src="/assets/svgs/logo-white.svg" alt="" width="210" height="48" aria-hidden="true" decoding="async">
        </a>
        <p> Acreditamos que pequenas empresas merecem mais.</p>
    </div>

    <div class="credit">
        <span>Desenvolvido por </span>
        <a href="/" target="_blank" rel="noopener">Echo)))Digital</a>
        <span class="copyright">
            | Copyright {% year %} - Presente</span>
    </div>
</footer>