---
title: 'Contato | Echo Digital'
description: 'Fale conosco da forma que preferir: entre em contato diretamente ou nos envie seus dados para retornarmos.'
preloadImg: '/assets/images/contact-bg.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contato
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                Opções de Contato             -->
    <!-- ============================================ -->

    <section id="cs-contact-options">
        <div class="cs-container">
            <!-- Quero Chamar -->
            <div class="cs-option">
                <h2 class="cs-title">Quero Chamar</h2>
                <p class="cs-text">Prefere entrar em contato diretamente? Escolha um dos canais abaixo:</p>
                <div class="cs-links">
                    <a href="mailto:contato@echodigital.com" class="cs-button-solid">Enviar E-mail</a>
                    <a href="https://wa.me/seunumero" target="_blank" class="cs-button-solid">Chamar no WhatsApp</a>
                </div>
            </div>

            <!-- Quero Que Me Chamem -->
            <div class="cs-option">
                <h2 class="cs-title">Quero Que Me Chamem</h2>
                <p class="cs-text">Entraremos em contato no horário mais conveniente para você.</p>
                <form id="cs-form-callback" name="Callback Form" method="post">
                    <label class="cs-label">
                        Nome
                        <input class="cs-input" required type="text" id="name-callback" name="name" placeholder="Seu Nome">
                    </label>
                    <label class="cs-label">
                        E-mail
                        <input class="cs-input" required type="email" id="email-callback" name="email" placeholder="seu@email.com">
                    </label>
                    <label class="cs-label">
                        Telefone
                        <input class="cs-input" required type="text" id="phone-callback" name="phone" placeholder="(DDD) 98765-4321">
                    </label>
                    <label class="cs-label">
                        Melhor horário para ligar
                        <input class="cs-input" required type="text" id="time-callback" name="best-time" placeholder="Ex.: Manhã, Tarde ou Noite">
                    </label>
                    <button class="cs-button-solid" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
