/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    z-index: 1;
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    /* changes on tablet */
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    font-family: "Roboto", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
    transition: padding 0.6s;
  }
  #hero .cs-picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    /* Background Image */
    width: 100%;
  }
  #hero .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
  }
  #hero .cs-picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* Black Color Overlay */
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero .notebook-img img {
    max-width: 100%;
    max-height: 100%;
  }
  #hero .cs-container {
    position: relative;
    margin: auto;
    max-width: 80em;
    width: 100%;
    padding: clamp(9em, 25.95vw, 17.5em) 0;
    padding-bottom: 0px;
  }
  #hero .cs-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
  }
  #hero .cs-flex-group {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  #hero .cs-topper {
    margin-bottom: 1rem;
    color: var(--primary);
    text-align: center;
  }
  #hero .cs-title {
    width: 100%;
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #hero .cs-text {
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #hero .cs-button-solid {
    margin-bottom: 1rem;
    height: initial;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
  }
  #hero .cs-button-solid {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 9.375rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .cs-button-solid:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .cs-button-solid:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero {
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero .cs-container:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
  }
  #hero .cs-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
  #hero .cs-flex-group {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 90em) {
  #hero {
    background: url("/assets/images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1188 {
    display: flex;
    flex-direction: column;
    gap: 30px 30px;
    padding: var(--sectionPadding);
    padding-bottom: 0px;
    align-items: center;
  }
  #services-1188 .cs-container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 30px;
    background-color: #2c67b0;
    padding: var(--sectionPadding);
    box-sizing: border-box;
  }
  #services-1188 .cs-container-google-meu-negocio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 30px;
    background-color: white;
  }
  #services-1188 .cs-container-google-meu-negocio .cs-text {
    max-width: unset;
  }
  #services-1188 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #services-1188 .cs-card-group {
    grid-template-columns: 1fr;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 30px 30px;
  }
  #services-1188 .cs-item {
    list-style: none;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 16px;
  }
  #services-1188 .cs-item .cs-topper {
    width: 100%;
    text-align: right;
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-decoration: none;
    margin-top: auto;
  }
  #services-1188 .cs-item .cs-text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-1188 .cs-item .cs-text-group .cs-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--headerColor);
    text-align: center;
  }
  #services-1188 .cs-item .cs-button-solid {
    margin-top: 32px !important;
  }
  #services-1188 .cs-picture {
    width: 5rem;
    height: 5rem;
    box-sizing: border-box;
    /* prevents border from affecting height and width */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1188 .cs-picture img {
    width: 80px;
    height: 80px;
  }
  #services-1188 .cs-content-gmn-and-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-1188 .cs-picture-google-business {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px 30px;
  }
  #services-1188 .cs-picture-google-business img {
    width: 100%;
  }
  #services-1188 .cs-picture-stars img {
    max-width: 264px;
  }
  #services-1188 .cs-other-services-bar {
    position: relative;
    width: 100vw;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: 700;
    padding: 12px;
    top: 32px;
  }
  #services-1188 .cs-icon {
    width: 1.875rem;
    height: auto;
    display: block;
  }
  #services-1188 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    text-align: center;
  }
  #services-1188 .cs-item-text {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    text-align: center;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1188 .cs-card-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #services-1188 .cs-item {
    margin: 0;
    gap: 16px 16px;
  }
  #services-1188 .cs-container-google-meu-negocio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px 16px;
    background-color: white;
  }
  #services-1188 .cs-container-google-meu-negocio .cs-text {
    max-width: unset;
  }
  #services-1188 .cs-button-transparent {
    text-wrap: nowrap;
    overflow: unset;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #services-1188 .cs-container-google-meu-negocio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px 20px;
    background-color: white;
  }
  #services-1188 .cs-container {
    gap: 24px 24px;
  }
  #services-1188 .cs-item .cs-text-group {
    gap: 16px 16px;
  }
  #services-1188 .cs-item {
    padding: 12px;
  }
  #services-1188 .cs-container-google-meu-negocio .cs-text {
    max-width: unset;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: black;
    opacity: 0.9;
  }
  #services-1188 .cs-title {
    text-align: left;
    font-size: 40px;
    line-height: 40px;
  }
  #services-1188 .cs-text {
    font-size: 20px;
    font-weight: 400;
    color: black;
    opacity: 0.9;
  }
  #services-1188 .cs-button-transparent {
    text-wrap: nowrap;
    overflow: unset;
  }
  #services-1188 .cs-card-group {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: unset;
  }
  #services-1188 .cs-picture img {
    width: 64px;
    height: 64px;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 90rem) {
  #services-1188 .cs-card-group {
    display: grid;
    gap: 16px;
    margin: 0 auto;
  }
  #services-1188 .cs-item {
    padding: 16px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents within each card */
  }
  #services-1188 .cs-item .cs-text-group {
    gap: unset;
  }
  #services-1188 .cs-container-google-meu-negocio {
    gap: 20px 20px;
    max-width: 120rem;
  }
  #services-1188 .cs-container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: flex;
    flex-direction: unset;
    align-items: center;
    gap: 30px;
    background: linear-gradient(135deg, #0575e6, #021b79);
    padding: var(--sectionPadding);
    padding-left: 16%;
    padding-right: 16%;
  }
  #services-1188 .cs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
  }
  #services-1188 .cs-title {
    white-space: nowrap;
    text-align: left;
    font-size: 22px;
    line-height: 24px;
  }
  #services-1188 .cs-title.white {
    filter: invert(1);
    font-size: 32px;
    line-height: 32px;
    text-align: right;
  }
  #services-1188 .cs-text.white {
    filter: invert(1);
    text-align: right;
  }
  #services-1188 .cs-item .cs-topper {
    text-align: right;
    font-size: 16px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: unset;
  }
  #services-1188 .cs-text {
    font-size: 14px;
    font-weight: 400;
    color: black;
    opacity: 0.9;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1188 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services-1188 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #services-1188 .cs-text,
  body.dark-mode #services-1188 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #services-1188 .cs-picture {
    background-color: var(--accent);
  }
  body.dark-mode #services-1188 .cs-icon {
    /* turns it white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #services-1188 .cs-title,
  body.dark-mode #services-1188 .cs-text,
  body.dark-mode #services-1188 .cs-h3,
  body.dark-mode #services-1188 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
}

/*# sourceMappingURL=critical.css.map */
