---
title: 'Echo)))Digital Agência Web'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }

    function scrollToWithOffset(event, elementId) {
        event.preventDefault();
        const element = document.getElementById(elementId);
        const offset = 68;
        const elementPosition = element.getBoundingClientRect().top + window.pageYOffset;
        const offsetPosition = elementPosition - offset;

        window.scrollTo({
            top: offsetPosition,
            behavior: 'smooth'
        });
    }

</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
<section id="hero-855">
    <div class="cs-container">
        <div class="cs-hero-container">
            <h1 class="cs-title">Conquiste mais clientes com menos dor de cabeça</h1>
            <h2 class="cs-text"> Colocamos sua empresa no mapa do Google<br> para atrair mais clientes e aumentar suas
                vendas.<br>Ah, e sem gastar com propaganda.</h2>
            <!-- <h2 class="cs-text"> Serviço completo para sua marca, empresa ou negócio bombar nas buscas.<br>Aumente seu
                lucro com a Echo Digital.</h2> -->
        </div>
        <div class="cs-button-box">
            <div>
                <p class="cs-text-checkup">Ganhe um check-up grátis do seu negócio.</p>
                <a class="cs-button-solid"
                    href="https://wa.me/555199111145?text=Olá%21%20Gostaria%20de%20receber%20o%20relatório%20gratuito%20completo%20do%20meu%20Google%20Meu%20Negócio!">Quero
                    meu check-up grátis!</a>
            </div>
            <a class="cs-button-transparent" href="#pricing-1690"
                onclick="scrollToWithOffset(event, 'pricing-1690')">Conheça mais serviços</a>
        </div>
    </div>
    <picture class="cs-picture">
        <source media="(min-width: 1024px)" srcset="/assets/images/reaching-more-clients.jpg" type="image/jpg"><img
            alt="a laptop showing Mako Pool Restorations" decoding="async" height="493"
            src="/assets/images/reaching-more-clients.jpg" width="936" loading="eager">
    </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-1188">
    <!-- Google Meu Negócio -->
    <div class="cs-container-google-meu-negocio">
        <div class="cs-content-gmn-and-stars">
            <picture class="cs-picture-stars">
                <img aria-hidden="true" decoding="async" src="/assets/svgs/five-star-line.svg"
                    alt="five star services" />
            </picture>
            <picture class="cs-picture-google-business">
                <img aria-hidden="true" decoding="async" src="/assets/images/google-meu-negocio.png"
                    alt="google meu negócio logo" />
            </picture>
        </div>

        <h2 class="cs-text">Cuidamos do seu Google Meu Negócio: configuramos, colocamos seu negócio
            na frente e monitoramos tudo.<br>Você colhe os resultados.</h2>
        <a class="cs-button-transparent wide"
            href="https://wa.me/555199111145?text=Oi%21%20Gostaria%20de%20receber%20uma%20an%C3%A1lise%20gratuita%20do%20Google%20Meu%20Neg%C3%B3cio%20para%20o%20meu%20neg%C3%B3cio%21">Análise
            Gratuita</a>
    </div>
    <!-- Outros Serviços -->
    <div class="cs-other-services-bar">
        Conheça nossos outros serviços abaixo ▼
    </div>
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title white">Foque no seu negócio,<br> nós cuidamos do resto.</h1>
            <h2 class="cs-text white">Sites incríveis, presença garantida no Google Meu Negócio e suporte sempre ao seu
                lado.</h2>
            <br>
        </div>

        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/search.svg" alt="Destaque nas buscas" />
                </picture>
                <div class="cs-text-group">
                    <h2 class="cs-title">Domine as buscas</h2>
                    <p class="cs-text">Colocamos sua empresa pra frente no Google.<br>Sua marca sendo vista antes da
                        concorrência.</p>
                </div>
                <a onclick="scrollToWithOffset(event, 'sbs-1640')" class="cs-topper">Saiba mais</a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/SEO.svg" alt="SEO Imbatível" width="48"
                        height="48" />
                </picture>
                <div class="cs-text-group">
                    <h2 class="cs-title">SEO que funciona</h2>
                    <p class="cs-text">Suba no ranking e veja os resultados mês a mês.<br>Cada visita uma chance a mais
                        pra fechar vendas.</p>
                </div>
                <a onclick="scrollToWithOffset(event, 'sbs-1640')" class="cs-topper">Saiba mais</a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/shop.svg" alt="Eleve sua marca"
                        width="48" height="48" />
                </picture>
                <div class="cs-text-group">
                    <h2 class="cs-title">Eleve sua marca</h2>
                    <p class="cs-text">Design profissional para se destacar.<br>Seu negócio com a cara e a qualidade que
                        os clientes querem.</p>
                </div>
                <a onclick="scrollToWithOffset(event, 'sbs-1640')" class="cs-topper">Saiba mais</a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/rocket.svg" alt="Carregamento rápido"
                        width="48" height="48" />
                </picture>
                <div class="cs-text-group">
                    <h2 class="cs-title">Super velocidade</h2>
                    <p class="cs-text">Sites que abrem em 1.6 segundo ou menos.<br> Mais visitantes, menos desistências.
                    </p>
                </div>
                <a onclick="scrollToWithOffset(event, 'sbs-1640')" class="cs-topper">Saiba mais</a>
            </li>
        </ul>

    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->
<section id="sbs-1362">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/resultados-impressionantes.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/resultados-impressionantes.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/resultados-impressionantes.jpg"
                    alt="cabinets" loading="lazy" width="400" height="563">
            </picture>
        </div>

        <div class="cs-content">
            <h2 class="cs-title">Sites com <span class="cs-title blue">entrada zero</span> a partir de R$497/mês</h2>
            <p class="cs-text">
                Oferecemos um site de 5 páginas para pequenas empresas, sem custo inicial. Se precisar de mais páginas,
                fazemos um orçamento. O contrato é de 12 meses, com design, desenvolvimento, hospedagem, edições
                ilimitadas, suporte 24/7 e atualizações.
            </p>

            <ul class="cs-card-group" id="list-1597">
                <li class="cs-item">
                    <h3 class="cs-h3">Google Meu Negócio</h3>
                    <p class="cs-item-text">Registramos seu negócio para aparecer no Google sem gastar com anúncios.</p>
                </li>
                <li class="cs-item">

                    <h3 class="cs-h3">Design Customizado</h3>
                    <p class="cs-item-text">Seu site, do jeito que você precisa, feito pela nossa equipe.</p>
                </li>
                <li class="cs-item">

                    <h3 class="cs-h3">Segurança Total</h3>
                    <p class="cs-item-text">Sites à prova de hackers, sem risco de invasão ou alterações.</p>
                </li>
                <li class="cs-item">

                    <h3 class="cs-h3">Speed Score 98-100</h3>
                    <p class="cs-item-text">Sites rápidos e leves, com pontuação máxima no Google.</p>
                </li>
                <li class="cs-item">

                    <h3 class="cs-h3">Suporte Humanizado</h3>
                    <p class="cs-item-text">Fale com quem fez seu site diretamente pelo WhatsApp, sem call center nem
                        robôs.</p>
                </li>
                <li class="cs-item">

                    <h3 class="cs-h3">SEO Levado a Sério</h3>
                    <p class="cs-item-text">Sem truques, explicamos tudo sobre SEO e garantimos que seu site apareça nas
                        buscas.</p>
                </li>
            </ul>

            <a href="https://wa.me/555199111145?text=Oi%21%20Gostaria%20de%20agendar%20uma%20chamada%20porque%20quero%20adquirir%20o%20plano%20Parceria%20Digital."
                class="cs-button-transparent">Agende uma chamada</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->
<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-stats-group">
            <ul class="cs-stats">
                <li class="cs-stat"><span class="cs-number">100%</span> <span class="cs-desc">Satisfação
                        Garantida</span>
                </li>
                <li class="cs-stat"><span class="cs-number">100</span> <span class="cs-desc">Score de Velocidade</span>
                </li>
                <li class="cs-stat"><span class="cs-number">5/5</span> <span class="cs-desc">Reviews do Google</span>
                </li>
            </ul>
            <picture class="cs-picture">
                <img alt="a screenshot showing perfect Google pagespeed scores" decoding="async" height="461"
                    src="/assets/images/pagespeed.png" aria-hidden="true" loading="lazy">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Sites <span class="cs-color">melhores </span>que geram resultados <span
                    class="cs-color">reais</span></h2>
            <p class="cs-text white">Poucos conseguem alcançar as pontuações do Google PageSpeed que conseguimos em cada
                site que criamos.</p>
            <p class="cs-text white quote">"Mas por que eu preciso de um site tão rápido assim?"</p>
            <ul class="cs-ul" id="list-823">
                <li class="cs-li"><img alt="icon" decoding="async" height="40" src="/assets/svgs/hourglass.svg"
                        width="40" aria-hidden="true" class="cs-icon" loading="lazy">Tempos de carregamento mais rápidos
                    aumentam o tráfego e as conversões. Ninguém gosta de esperar, e seus clientes também não!</li>
                <li class="cs-li"><img alt="icon" decoding="async" height="40" src="/assets/svgs/reward.svg" width="40"
                        aria-hidden="true" class="cs-icon" loading="lazy">Sites rápidos ajudam a melhorar seu SEO e
                    aumentam a performance dos seus anúncios no Google. Pare de rasgar dinheiro!</li>
                <li class="cs-li"><img alt="icon" decoding="async" height="40" src="/assets/svgs/speed-test.svg"
                        width="40" aria-hidden="true" class="cs-icon" loading="lazy">Nossos sites carregam em menos de
                    00:00:02. Nada de plugins caros ou truques. Só um código otimizado para performance.</li>
            </ul>
            <p class="cs-text white quote">"E como saber se o meu site está performando?"</p>
            <p class="cs-text white">Envie o seu site pra gente e receba uma análise completa, sem custo, direto no seu
                e-mail ou WhatsApp.</p>
            <a class="cs-button-solid"
                href="https://wa.me/555199111145?text=Oi%21%20Gostaria%20de%20receber%20o%20relat%C3%B3rio%20gratuito%20completo%20da%20performance%20do%20meu%20site%21%0AO%20endere%C3%A7o%20dele%20%C3%A9%3A%20">Receber
                relatório completo grátis</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->
<section id="pricing-1690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Um pacote para cada orçamento</h2>
                <p class="cs-text right">Temos diversas opções de plano para as mais diversas necessidades e orçamentos.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Google Meu Negócio</span>
                <p class="cs-text">Para quem quer atrair mais clientes sem gastar com propaganda.</p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Criação e otimização de perfil para o Google Meu Negócio
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Gerenciamento de avaliações e respostas
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Monitoramento de ranking local
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        SEO Local para sua região
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Estratégias personalizadas para aumento de tráfego orgânico
                        <span class="checkmark">✔️</span>
                    </li>
                </ul>
                <span class="cs-price"><span class="cs-duration">à partir de</span>
                    <span><span class="cs-currency">R$</span>497</span>
                </span>
                <a class="cs-button-solid"
                    href="https://wa.me/555199111145?text=Oi%21%20Gostaria%20de%20agendar%20uma%20chamada%20porque%20quero%20adquirir%20o%20plano%20Google%20Meu%20Neg%C3%B3cio.">Agende
                    uma chamada</a>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">Parceria Digital (+Site)</span>
                <p class="cs-text">Para quem quer um site completo, atualizado e com suporte total.</p>

                <ul class="cs-ul">
                    <li class="cs-li">
                        Design e Desenvolvimento
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Hospedagem grátis
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Domínio grátis
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Edições ilimitadas
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Suporte 24/7
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Atualizações e Certificados
                        <span class="checkmark">✔️</span>
                    </li>
                </ul>
                <span class="cs-price">
                    <span class="cs-duration">/mês</span>
                    <span><span class="cs-currency">R$</span>497</span>
                </span>
                <a class="cs-button-solid"
                    href="https://wa.me/555199111145?text=Oi%21%20Gostaria%20de%20agendar%20uma%20chamada%20porque%20quero%20adquirir%20o%20plano%20Parceria%20Digital.">Agende
                    uma chamada</a>
            </li>
            <li class="cs-item">
                <span class="cs-package">Solução Completa e Á Vista</span>
                <p class="cs-text">Para quem prefere um pagamento único e todos os benefícios.</p>

                <ul class="cs-ul">
                    <li class="cs-li">
                        Tudo incluso no plano 'Parceria Digital'
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Tudo incluso no plano 'Google Meu Negócio'
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        Acesso antecipado a novas ferramentas
                        <span class="checkmark">✔️</span>
                    </li>
                    <li class="cs-li">
                        10% de desconto
                        <span class="checkmark">✔️</span>
                    </li>
                </ul>
                <span class="cs-price">
                    <span class="cs-duration">á Vista</span>
                    <span><span class="cs-currency">R$</span>5467</span>
                </span>
                <a class="cs-button-solid"
                    href="https://wa.me/555199111145?text=Oi%21%20Gostaria%20de%20agendar%20uma%20chamada%20porque%20quero%20adquirir%20o%20plano%20Solu%C3%A7%C3%A3o%20Completa.">Agende
                    uma Chamada</a>
            </li>
        </ul>
    </div>
</section>
{% include 'components/cta.html' %}

{% endblock %}