/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
  // Website colors
  :root {
    --primary: #ffba19;
    --primaryLight: #ffd675;
    --secondary: #001f3f;
    --secondaryLight: #001f3f;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;

    /* 13px - 16px */
    --topperFontSize: clamp(1rem, 2vw, 1.5rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.6375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;

    --sectionPadding: 30px 10px 30px 10px;
  }

  // Text styles
  .cs-topper {
    display: block;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    font-weight: 700;
    color: #2c67b0;
    text-align: inherit;
  }

  .cs-title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: var(--headerColor);
    text-align: center;
    margin-bottom: 12px;
  }

  .cs-title.white {
    filter: invert(1);
  }

  .cs-title.blue {
    color: #2c67b0;
  }

  .cs-text {
    margin: 0;
    max-width: 40.625rem;
    width: 100%;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: inherit;
  }

  .cs-text.white {
    filter: invert(1);
  }

  .cs-text.white.quote {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.055);
    font-size: 24px;
    font-style: italic;
  }

  .cs-button-contact {
    display: flex;
    align-items: center;
    background-color: #29a71a;
    gap: 4px 4px;
    border-radius: 32px;
    padding: 8px;
    text-decoration: none;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.1s ease-in-out;
  }

  .cs-button-contact-text {
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

  .cs-button-contact img {
    width: 32px;
    height: 32px;
  }

  .cs-button-solid {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: inline-flex;
    overflow: hidden;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;

    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: white;
    vertical-align: middle;
    white-space-collapse: collapse;

    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;

    transition: all 0.1s ease-in-out;
  }

  .cs-button-solid:hover {
    text-decoration-color: black;

    color: black;
    background-color: white;
    border: 1px solid black;

    transition: all 0.1s ease-in-out;
  }

  .cs-button-transparent {
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: inline-flex;
    overflow: hidden;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;

    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: white;
    vertical-align: middle;
    white-space-collapse: collapse;

    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;

    transition: all 0.1s ease-in-out;
  }

  .cs-button-transparent:hover {
    text-decoration-color: white;

    color: white;
    background-color: #4a90e2;
    border: 1px solid white;

    transition: all 0.1s ease-in-out;
  }

  .cs-hide-on-mobile {
    display: none;
  }

  #cs-navigation {
    z-index: 10000;
    position: fixed;
    display: flex;
    height: 72px;
    width: 94%;
    top: 12px;
    left: 50%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.425) 0px 4px 8px;
    transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;
    transform: translateX(-50%);

    .cs-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px;
    }

    .cs-logo {
      z-index: 9999;
      height: 36px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        transition: all 0.1s ease-in-out;
      }
    }

    .cs-ul-wrapper {
      z-index: -1;
      position: absolute;
      top: 100%;
      left: auto;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transform: scaleX(0);
      background-color: #fff;
      height: 100vh;
      overflow: hidden;
      transition: transform 0.4s, opacity 0.3s;
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      transform-origin: top right;
    }

    .cs-ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 0;
      height: 65vh;
      min-width: 40%;
      width: auto;
      overflow: scroll;
      /* 28px - 40px */
      padding: calc(48 / 16 * 1rem) clamp(1.75rem, 3vw, 2.5rem)
        calc(32 / 16 * 1rem) calc(70 / 16 * 1rem);
      gap: calc(20 / 16 * 1rem);
    }

    .cs-li {
      opacity: 0;
      /* transition from these values */
      transform: translateX(calc(-40 / 16 * 1rem));
      margin-right: 0;
      width: 100%;
      list-style: none;
      transition: transform 0.6s, opacity 0.9s;
      text-align: right;

      &:nth-of-type(1) {
        transition-delay: 0.05s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.15s;
      }

      &:nth-of-type(4) {
        transition-delay: 0.2s;
      }

      &:nth-of-type(5) {
        transition-delay: 0.25s;
      }

      &:nth-of-type(6) {
        transition-delay: 0.3s;
      }

      &:nth-of-type(7) {
        transition-delay: 0.35s;
      }

      &:nth-of-type(8) {
        transition-delay: 0.4s;
      }

      &:nth-of-type(9) {
        transition-delay: 0.45s;
      }
    }

    .cs-li-link {
      position: relative;
      display: inline-block;
      margin: 0;
      text-decoration: none;
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      color: var(--headerColor);

      &:before {
        position: absolute;
        bottom: calc(-2 / 16 * 1rem);
        left: 0;
        /* active state underline */
        content: "";
        opacity: 1;
        display: none;
        background: currentColor;
        height: 1px;
        width: 100%;
      }

      &.cs-active {
        &:before {
          display: block;
        }
      }
    }

    .cs-button-solid {
      display: none;
    }

    &:before {
      z-index: -11;
      position: absolute;
      top: 100%;
      right: 0;
      /* black blurred overlay */
      content: "";
      opacity: 0;
      display: block;
      background: rgba(0, 0, 0, 0.6);
      height: 100vh;
      width: 0%;
      transition: width 0.5s, opacity 0.3s;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }

    &.cs-active {
      .cs-ul-wrapper {
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
        transition-delay: 0.2s;
      }

      .cs-li {
        opacity: 1;
        transform: translateX(0);
      }

      &:before {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .cs-hide-on-mobile {
    display: block;
  }

  .cs-hide-on-desktop {
    display: none;
  }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 100%;
    color: var(--bodyTextColor);
  }

  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  body {
    transition: background-color 0.3s;
  }

  .container {
    position: relative;
    margin: auto;
    width: 92%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }

  p,
  li,
  a {
    margin: 0;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.5em;
  }

  p,
  li {
    color: #353535;
  }

  a,
  button {
    &:hover {
      cursor: pointer;
    }
  }

  // Hidden Screen reader skip nav button
  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  // Grab your fonts to locally host from https://-webfonts-helper.herokuapp.com/fonts

  /* Plus Jakarta Sans - Regular */
  @font-face {
    font-style: normal;
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/PlusJakartaSans-Regular.woff") format("woff"),
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url("/assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
    /* Older browsers */
  }

  /* Plus Jakarta Sans - Bold */
  @font-face {
    font-style: normal;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/PlusJakartaSans-Bold.woff") format("woff"),
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url("/assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
    /* Older browsers */
  }

  /* Plus Jakarta Sans - ExtraBold */
  @font-face {
    font-style: normal;
    font-family: "Plus Jakarta Sans";
    font-weight: 900;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/PlusJakartaSans-ExtraBold.woff") format("woff"),
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url("/assets/fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
    /* Older browsers */
  }
}

/* Reset Margins */
@media only screen and (min-width: 64rem) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 90rem) {
  body,
  html {
    font-size: 0.55vw;
  }
}

@media only screen and (max-width: 64rem) {
  body {
    &.cs-open {
      overflow: hidden;
    }
  }

  #cs-navigation.scrolled {
    top: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }
}

/* Dark Mode */
@media only screen and (max-width: 64rem) {
  body.dark-mode {
    #cs-navigation {
      background-color: var(--dark);

      .cs-logo {
        /* makes it white */
        filter: grayscale(1) brightness(1000%);
      }

      .cs-line {
        background-color: #fff;
      }

      .cs-ul-wrapper {
        background-color: var(--medium);
      }

      .cs-li-link {
        color: var(--bodyTextColorWhite);
      }
    }
  }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 64rem) {
  #cs-navigation {
    .cs-dropdown {
      position: relative;
      color: var(--bodyTextColorWhite);

      .cs-li-link {
        position: relative;
        transition: opacity 0.3s;
      }

      &.cs-active {
        .cs-drop-ul {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          margin: calc(12 / 16 * 1rem) 0 0 0;
          height: auto;
          padding: calc(24 / 16 * 1rem);
        }

        .cs-drop-link {
          opacity: 1;
        }
      }
    }

    .cs-dropdown-button {
      border: none;
      background-color: transparent;
      font-family: inherit;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      cursor: pointer;
      appearance: none;
    }

    .cs-drop-icon {
      position: absolute;
      top: 50%;
      right: calc(-20 / 16 * 1rem);
      transform: translateY(-50%);
      height: auto;
      width: calc(15 / 16 * 1rem);
    }

    .cs-drop-ul {
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 0;
      background-color: var(--primary);
      height: 0;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      padding: 0 calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
      transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s,
        transform 0.3s, visibility 0.3s;
      gap: calc(12 / 16 * 1rem);
      transform-origin: top right;
    }

    .cs-drop-li {
      list-style: none;
      text-align: inherit;
    }

    .cs-li-link {
      &.cs-drop-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2vw, 1.25rem);
        color: #fff;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    .cs-dropdown {
      position: relative;

      &.cs-active,
      &:hover {
        cursor: pointer;

        .cs-drop-ul {
          visibility: visible;
          opacity: 1;
          transform: scaleY(1);
        }

        .cs-drop-li {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .cs-dropdown-button {
      border: none;
      background-color: transparent;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
      appearance: none;
    }

    .cs-drop-icon {
      display: inline-block;
      height: auto;
      width: calc(15 / 16 * 1rem);
    }

    .cs-drop-ul {
      z-index: -100;
      /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
      // columns: 2;
      position: absolute;
      top: 100%;
      visibility: hidden;
      opacity: 0;
      transform: scaleY(0);
      border-bottom: 5px solid var(--primary);
      margin: 0;
      background-color: #fff;
      min-width: calc(200 / 16 * 1rem);
      overflow: hidden;
      padding: 0;
      transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
      transform-origin: top;
    }

    .cs-drop-li {
      opacity: 0;
      transform: translateY(calc(-10 / 16 * 1rem));
      display: block;
      height: auto;
      width: 100%;
      list-style: none;
      text-decoration: none;
      font-size: calc(16 / 16 * 1rem);
      color: var(--bodyTextColor);
      transition: opacity 0.6s, transform 0.6s;

      &:nth-of-type(1) {
        transition-delay: 0.05s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.15s;
      }

      &:nth-of-type(4) {
        transition-delay: 0.2s;
      }

      &:nth-of-type(5) {
        transition-delay: 0.25s;
      }

      &:nth-of-type(6) {
        transition-delay: 0.3s;
      }

      &:nth-of-type(7) {
        transition-delay: 0.35s;
      }

      &:nth-of-type(8) {
        transition-delay: 0.4s;
      }

      &:nth-of-type(9) {
        transition-delay: 0.45s;
      }

      &:nth-of-type(10) {
        transition-delay: 0.5s;
      }

      &:nth-of-type(11) {
        transition-delay: 0.55s;
      }

      &:nth-of-type(12) {
        transition-delay: 0.6s;
      }

      &:nth-of-type(13) {
        transition-delay: 0.65s;
      }
    }

    .cs-li-link {
      &.cs-drop-link {
        display: block;
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: calc(12 / 16 * 1rem);
        white-space: nowrap;
        text-decoration: none;
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        transition: color 0.3s, background-color 0.3s;

        &:hover {
          background-color: #f7f7f7;
        }

        &:focus-visible {
          outline: 2px solid currentColor;
          outline-offset: -4px;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
}

@media only screen and (min-width: 90rem) {
  #cs-navigation {
    max-width: unset;

    .cs-ul {
      display: flex;
      justify-content: space-between;
      gap: 30px 30px;
    }

    .cs-li {
      padding: calc(32 / 16 * 1rem) 0;
      list-style: none;
      /* prevent flexbox from squishing it */
      flex: none;
    }

    .cs-li-link {
      font-size: 24px;
      line-height: 32px;
      color: black;
      opacity: 0.9;

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &:before {
        position: absolute;
        bottom: calc(0 / 16 * 1rem);
        left: 0;
        /* active state underline */
        content: "";
        opacity: 1;
        display: block;
        background: black;
        height: 2px;
        width: 0%;
        transition: width 0.3s;
      }

      &.cs-active {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-contact {
      display: flex;
      align-items: center;
      background-color: #29a71a;
      gap: 4px 4px;
      border-radius: 32px;
      text-decoration: none;
      padding: 4px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .cs-button-contact-text {
      font-size: 16px;
      font-weight: 700;
      color: white;
    }

    .cs-button-contact img {
      width: 32px;
      height: 32px;
    }
  }

  #cs-navigation.scrolled {
    top: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }
}

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #int-hero {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding-top: calc(50 / 16 * 1rem);

    picture {
      z-index: -2;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    h1 {
      position: relative;
      margin: 0 auto;
      margin-top: calc(70 / 16 * 1rem);
      margin-bottom: calc(30 / 16 * 1rem);
      max-width: calc(500 / 16 * 1rem);
      width: 96%;
      font-size: calc(64 / 30 * 1rem);
      color: #fff;
      text-align: center;
    }

    p {
      display: block;
      margin: auto;
      margin-bottom: calc(30 / 16 * 1rem);
      max-width: calc(400 / 16 * 1rem);
      width: 96%;
      color: #fff;
      text-align: center;
    }

    &:before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      opacity: 0.7;
      display: block;
      background: #000;
      height: 100%;
      width: 100%;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
  .cs-hide-on-mobile {
    display: block;
  }

  #int-hero {
    font-size: 100%;

    h1 {
      font-size: calc(64 / 16 * 1rem);
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #int-hero {
    background-attachment: fixed;
    min-height: calc(300 / 16 * 1rem);
    height: auto;
    padding-top: calc(180 / 16 * 1rem);
    font-size: inherit;
    padding-block-end: calc(100 / 16 * 1rem);
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }

  #cta .container {
    text-align: center;
  }

  #cta picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #cta .title {
    position: relative;
    margin-bottom: 2.25rem;
    font-size: min(9vw, 3rem);
    line-height: 1.2083333333em;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }

  #cta p {
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    max-width: 37.375rem;
    width: 96%;
    color: #fff;
    text-align: center;
  }

  #cta #cta-form {
    position: relative;
    max-width: 37.375rem;
    margin: 0 auto 2.25rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
  }

  #cta #cta-form label {
    display: block;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  #cta #cta-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  #cta #cta-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  #cta #cta-form input:focus {
    outline: none;
    border-color: var(--primary);
    background-color: rgba(255, 255, 255, 0.2);
  }

  #cta:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background: #1f3f76;
    height: 100%;
    width: 100%;
  }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #cta {
    padding: var(--sectionPadding);
  }

  #cta .container {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 30px 30px;
  }

  #cta #cta-form {
    max-width: 40rem;
    padding: 2rem;
  }

  #cta .cs-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    color: white;
    opacity: 0.9;
  }

  #cta .title {
    font-size: 44px;
    font-weight: 900;
    color: #fff;
    text-align: right;
  }
}

/* Large Desktop */
@media only screen and (min-width: 90rem) {
  #cta {
    display: flex;
    justify-content: center;
  }

  #cta #cta-form {
    max-width: unset;
    padding: 2rem;
    margin: unset;
  }

  #cta .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset;
    max-width: 120rem;
  }

  #cta picture {
    left: 50%;
    transform: translateX(-50%);
    width: 90.0625%;
  }

  #cta picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }

  #cta:before {
    display: none;
  }

  #cta:after {
    background-color: #1f3f76;
    z-index: -3;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    opacity: 1;
    transform: translateX(-50%);
    display: block;
    height: 64rem;
    width: 100%;
  }
}

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #footer {
    background: black;
    padding: var(--sectionPadding);
    font-size: min(4vw, 1.2em);

    .left-section {
      margin: auto;
      margin-bottom: calc(50 / 16 * 1rem);
      text-align: center;

      .logo {
        display: inline-block;
        margin: auto;
        margin-bottom: calc(30 / 16 * 1em);
        height: calc(32 / 16 * 1em);
        width: auto;
        text-align: center;

        img {
          display: block;
          height: 3rem;
        }
      }

      p {
        opacity: 0.9;
        margin: auto;
        width: 100%;
        font-size: calc(14 / 16 * 1rem);
        line-height: calc(27 / 14 * 1rem);
        color: #fff;
        text-align: center;
      }
    }

    .right-section {
      width: 96%;
      display: flex;

      .lists {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin: auto;
        max-width: calc(360 / 16 * 1rem);
        width: 96%;

        ul {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;

          li {
            opacity: 0.9;
            margin-bottom: calc(12 / 16 * 1rem);
            list-style: none;
            font-size: calc(18 / 16 * 1rem);
            color: #fff;

            a {
              text-decoration: none;
              line-height: calc(21 / 18 * 1em);
              color: #fff;
              transition: color 0.3s;

              &:hover {
                color: var(--primary);
              }
            }
          }

          h2 {
            position: relative;
            margin-bottom: calc(37 / 16 * 1rem);
            text-transform: uppercase;
            font-size: calc(18 / 16 * 1rem);
            line-height: calc(21 / 18 * 1em);
            font-weight: bold;
            color: #fff;

            &:before {
              position: absolute;
              bottom: calc(-16 / 16 * 1rem);
              left: 0;
              content: "";
              opacity: 1;
              display: block;
              background: var(--primary);
              height: calc(2 / 16 * 1rem);
              width: calc(97 / 16 * 1rem);
            }
          }

          &:nth-of-type(3) {
            margin-top: calc(50 / 16 * 1rem);

            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: calc(16 / 16 * 1rem);

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
      }

      .cs-button-solid {
        margin: 0;
        height: calc(53 / 16 * 1rem);
        width: calc(250 / 16 * 1rem);
        padding-top: calc(3 / 16 * 1rem);
      }
    }

    .credit {
      margin: auto;
      margin-top: calc(32 / 16 * 1rem);
      width: 96%;
      font-size: calc(16 / 16 * 1rem);
      line-height: calc(36 / 16 * 1rem);
      color: #fff;
      text-align: center;

      a {
        text-decoration: none;
        font-size: calc(16 / 16 * 1rem);
        color: var(--primary);

        &:hover {
          text-decoration: underline;
        }
      }

      .copyright {
        display: block;
        font-size: calc(16 / 16 * 1rem);
      }
    }
  }
}

/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #footer {
    font-size: min(1.2vw, 1em);
    padding: clamp(1.25rem, 3.82vw, 2.75rem) 2.1rem
      clamp(1.25rem, 3.82vw, 2.75rem);

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: auto;
      max-width: calc(1320 / 16 * 1rem);
      width: 96%;
      padding: 0;
      gap: 24px;
    }

    .left-section {
      margin: 0;
      width: calc(409 / 16 * 1rem);
      text-align: left;

      .logo {
        margin-left: 0;
        height: calc(40 / 16 * 1rem);
        text-align: left;
      }

      p {
        margin-left: 0;
        text-align: left;
      }
    }

    .right-section {
      margin: 0;
      max-width: none;
      width: calc(609 / 16 * 1rem);

      .lists {
        margin: 0;
        max-width: calc(769 / 16 * 1rem);
        width: 96%;

        ul {
          li {
            a {
              position: relative;

              &:before {
                position: absolute;
                bottom: calc(-3 / 16 * 1rem);
                left: 0;
                content: "";
                opacity: 1;
                display: block;
                background: var(--primary);
                height: calc(2 / 16 * 1rem);
                width: 0%;
                transition: width 0.3s;
              }

              &:hover {
                &:before {
                  width: 100%;
                }
              }
            }
          }

          &:nth-of-type(3) {
            margin-top: 0;

            li:first-of-type {
              margin-bottom: 0;
            }
          }
        }
      }

      .buttons {
        justify-content: flex-start;
      }
    }

    .credit {
      .copyright {
        display: inline-block;
      }
    }
  }
}
